<!DOCTYPE html>
<html>

<head>
  <title>
    Home Page
  </title>
</head>
<style>
body{
   background-color:#6494AA
}
pre{
  font-size: 75%;
}

</style>
<body><center><h1>
  Howdy!</h1><h2> Come to our occupations page! <a href = "http://127.0.0.1:5000/occupations"> IT'S HERE!!! </a></h2></center>
  <center><pre>
                    .88888888:.<br>
                   88888888.88888.<br>
                 .8888888888888888.<br>
                 888888888888888888<br>
                 88 88 88 88  88888<br>
                 88_88_::_88_:88888<br>
                 88:::,::,:::::8888<br>
                 88`:::::::::'`8888<br>
                .88  `::::'    8:88.<br>
               8888            `8:888.<br>
             .8888'             `888888.<br>
            .8888:..  .::.  ...:'8888888:.<br>
           .8888.'     :'     `'::`88:88888<br>
          .8888        '         `.888:8888.<br>
         888:8         .           888:88888<br>
       .888:88        .:           888:88888:<br>
       8888888.       ::           88:888888 <br>
       `.::.888.      ::          .88888888<br>
      .::::::.888.    ::         :::`8888'.:.<br>
     ::::::::::::.8    '      .:8::::::::::::.<br>
    .::::::::::::::.        .:888:::::::::::::<br>
    :::::::::::::::88:.__..:88888:::::::::::'<br>
     `'.:::::::::::88888888888.88:::::::::'<br>
           `':::_:' -- '' -'-' `':_::::'`<br>
</pre></center>
</body>
</html>
