<!DOCTYPE html>
<html>

<head>
  <title>
    Occupations
  </title>
</head>
<style>
body{
   background-color:#6494AA
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #90A959}
tr:nth-child(odd){background-color: #E9B872}

th {
    background-color: #A63D40;
    color: white;
}

hr {
  color: #f00;
  background-color: #f00;
  height: 5px;
}

h1{
  font-size: 300%;
}
</style>
<body><center>
  <table border="1">
    <tr>
      <th>Occupations</th>
      <th>Percentage</th>
      <th>Job Links</th>
    </tr>
    {% block body %}
    {% for i in occDic: %}
    <tr>
      <td>{{i}}</td>
      <td>{{occDic[i][0]}}</td>
      <td><a href = {{occDic[i][1]}}>{{occDic[i][1]}}</a></td>
    </tr>
    {% endfor %}
    <tr>
      <th>Total</th>
      <th>99.8</th>
    </tr>
  </table></center>
  <br>
  <hr><center>
    <h1><b>Random Occupation: </b>
    {{randomOcc}}
    {% endblock %}</h1></center>
</body>

</html>
